<div class="intelbras-about">
    <div class="intelbras-about__container">
        <div class="intelbras-about__header">
            <h3 class="intelbras-about__title">O que a Intelbras oferece?</h3>
        </div>
        <div class="intelbras-about__main">
            <div class="intelbras-about__content">
                <img src="{{media url="wysiwyg/intelbras/intelbras-seguranca-eletronica.jpg"}}" alt="Segurança eletrônica" />
                <h4>Segurança eletrônica</h4>
                <p>Tudo para cuidar da sua proteção</p>
            </div>
            <div class="intelbras-about__content">
                <img src="{{media url="wysiwyg/intelbras/intelbras-redes.jpg"}}" alt="Redes">
                <h4>Redes</h4>
                <p>Tudo para você ficar conectado</p>
            </div>
            <div class="intelbras-about__content">
                <img src="{{media url="wysiwyg/intelbras/intelbras-comunicacao.jpg"}}" alt="Comunicação">
                <h4>Comunicação</h4>
                <p>Tudo para você ficar mais próximo</p>
            </div>
            <div class="intelbras-about__content">
                <img src="{{media url="wysiwyg/intelbras/intelbras-energia.jpg"}}" alt="Energia">
                <h4>Energia</h4>
                <p>Tudo para Alimentar seus equipamanetos</p>
            </div>
        </div>
    </div>
</div>