<div class="abouts">
    <div class="abouts__container">
        <div class="abouts__content">
            <h3 class="abouts__title">Sobre nós</h3>
            <div class="abouts__text">
                <p>O Grupo Premium é pioneiro no mercado de segurança e tecnologia solar.</p>
                <p>Oferecemos a você, os melhores equipamentos de segurança do mercado e painéis solares, para que você possa gerar energia para o seu próprio consumo. Além disso, o Grupo Premium conta com os melhores cursos de formação em tecnologia.</p>
            </div>
        </div>
        <div class="abouts__news">
            {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="newsfooter" texto="<h3 class='abouts__title'>Receba todas as novidades</h3>" label_email="E-mail:" placeholder_email="Seu e-mail..." texto_botao="Enviar" exibir_nome="1" label_nome="Nome:" placeholder_nome="Seu nome..."}}
        </div>
    </div>
</div>