<div class="rulers">
    <svg class="ico z-truck"><use xlink:href="#z-truck" /></svg>
    <div>
        <strong>Entrega Grantida</strong>
        <span>entregamos em todo o Brasil</span>
    </div>
</div>

<div class="rulers">
    <svg class="ico z-shipping"><use xlink:href="#z-shipping" /></svg>
    <div>
        <strong>Retira fácil</strong>
        <span>compre online e retire na loja</span>
    </div>
</div>

<div class="rulers">
    <svg class="ico z-security"><use xlink:href="#z-security" /></svg>
    <div>
        <strong>Site 100% seguro</strong>
        <span>compre sem preocupação</span>
    </div>
</div>

<div class="rulers">
    <svg class="ico z-clients"><use xlink:href="#z-clients" /></svg>
    <div>
        <strong>Programa de fidelidade</strong>
        <span>vantagens incríveis para nossos clientes</span>
    </div>
</div>