.breadcrumb
    container()

    &__home
        .breadcrumb__link:before
            display: none

    &__link, &__last, &__sep
        color: var(--color-text-gray)
        font-weight: regular
        font-size: 14px

    .catalog-product-view &
        display: flex
        justify-content: space-between
        align-items: center