.categories
    &__show
        order: -1
        background: var(--primary-contrast)
        color: var(--primary)

    @media media-max-lg
        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: var(--primary-contrast)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

    @media media-min-lg
        position: absolute
        top: 100%
        left: 0
        flex: 1
        margin-bottom: 0 !important
        padding: 10px 0 20px
        min-width: 0
        width: 100%
        background: none
        background: white
        transition: all .2s ease-in-out

        .scrolling:not(.scrolling--up) &
            transform: translateY(-74px)

        .a--0
            background: none
            color: var(--primary)
            white-space: nowrap
            font-weight: regular
            font-size: 14px

        .ul--0:nth-child(2)
            container()

            > .li--0:not(.categories__all)
                display: none

        &--remove
            display: none

        &__custom
            flex: 1
            overflow: hidden
            min-width: 0

            .ul--0
                justify-content: space-between

            .li--0
                flex: 0 0 auto

                &:hover
                    .a--0
                        background: none
                        color: var(--secundary)

        &__all
            position: relative
            z-index: 10
            margin-right: (gap / 2)

            .a--0
                position: relative
                z-index: 30
                padding: 0
                width: 260px
                border-radius: var(--radius)
                background: var(--primary-hover)
                color: var(--primary-hover-contrast)
                text-transform: uppercase
                font-weight: bold
                font-size: 13px

                > span
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 0 (gap / 2)
                    width: 100%

                    span
                        flex: 1
                        min-width: 0

                .z-down
                    width: 11px
                    height: 7px

                .z-menu
                    width: 14px
                    height: 11px

            .box--1
                visibility: hidden
                padding: 0
                width: 100%
                box-shadow: 0 0 0 1px var(--color-border)
                opacity: 0
                transition: all .2s ease-in-out
                transition-delay: .2s
                transform: translateY(-10px)

            &:hover
                .box--1
                    visibility: visible
                    opacity: 1
                    transform: translateY(0)

            .all-ul--0
                display: block
                padding: 0

            .all-ul--1
                position: absolute
                top: 0
                left: 100%
                visibility: hidden
                min-height: 100%
                width: 100%
                background: white
                box-shadow: 0 0 0 1px var(--color-border)
                opacity: 0
                transition: all .2s ease-in-out
                transition-delay: .3s
                transform: translateX(-10px)

                &:before
                    position: absolute
                    top: -44px
                    left: 0
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    padding: 0 (gap / 2)
                    width: 100%
                    height: 44px
                    background: var(--color-gray)
                    color: var(--primary-hover)
                    content: attr(data-title)
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 14px

            .all-li--0
                margin: 0
                padding: 0
                max-width: none

                &:hover
                    .all-a--0
                        background: var(--color-gray)
                        color: var(--primary-hover)

                    .all-ul--1
                        visibility: visible
                        opacity: 1
                        transform: translateX(0)

            .all-a--0
                overflow: hidden
                padding: 6px 10px
                background: white
                box-shadow: 0 -1px 0 var(--color-border)
                font-weight: regular
                font-size: 13px
                line-height: 20px

            .all-a--1
                padding: 5px 10px
                background: white
                box-shadow: 0 1px 0 var(--color-border)
                font-weight: regular
                font-size: 13px
                line-height: 20px

                &:hover
                    background: var(--color-gray)
                    box-shadow: none
                    color: var(--primary-hover)