.mymenu
    .header-container > &
        display: none

    .head &
        .ul--0
            display: flex
            justify-content: flex-end
            gap: (gap / 2)

        .a--0
            font-weight: regular
            font-size: 13px

        .li--0
            margin: 0