.old-price
    .products__main &
        display: none

.regular-price, .special-price, .minimal-price
    .products__main &
        .label
            display: none

        .price span
            color: var(--secundary)
            font-weight: bold
            font-size: 20px