.sharing-links
    .list:before
        margin-bottom: 0
        color: var(--color-text)
        content: 'Compartilhe! '
        font-weight: medium
        font-size: 20px
        font-size: 12px
        opacity: 1

    li
        flex: 0 0 20px
        margin: 0

    a
        width: 20px
        height: 20px
        background: none
        color: var(--color-text)

        .ico
            width: 14px
            height: 14px
            fill: currentColor
