.cart
    .qty-wrapper
        width: 65px

    .page-title
        h1
            display: flex
            justify-content: flex-start
            align-items: center
            margin: 0
            height: 50px
            color: var(--primary)
            text-align: left
            font-weight: medium
            font-size: 16px

        .cart__links
            margin: 0

            @media media-min-lg
                margin-top: -50px

            @media media-max-lg
                margin: 20px 0

    &__links
        position: relative
        padding: 0 20px 20px
        background: white
        box-shadow: 0 0 0 1px var(--color-border)

        &:after
            position: absolute
            top: -1px
            left: 0
            width: 100%
            height: 1px
            background: white
            content: ''

        @media media-max-lg
            display: block

        .btn-checkout
            position: relative
            margin-left: auto
            max-width: 100%
            width: 350px
            height: 43px
            border-radius: var(--radius)
            background: var(--primary-hover)
            box-shadow: none
            color: var(--button-contrast)
            text-transform: uppercase
            font-weight: bold
            font-size: 14px

            @media media-max-lg
                width: 100%

            &:after
                content: 'Finalizar Compra'

            &:hover
                background: @background

            span
                display: none

        .btn--outline
            padding: 0
            width: 340px
            height: 43px
            background: #c2c2c2
            box-shadow: none
            color: white
            text-transform: uppercase
            font-weight: bold
            font-size: 14px

            @media media-max-lg
                padding: 15px 0
                width: 100%

            &:hover
                color: var(--primary)

            span
                display: none

            &:before
                content: 'Continuar Comprando'

.cart-table
    footer, .sku, .item-options
        display: none

    header
        height: 50px
        background: var(--color-gray)
        box-shadow: 0 0 0 1px var(--color-border)
        color: var(--color-text-gray)
        text-transform: none
        font-weight: medium
        font-size: 16px

    h2.name
        color: var(--color-text-gray)

        a
            color: currentColor
            font-weight: medium
            font-size: 14px

    main
        background: #ffffff
        box-shadow: 0 0 0 1px var(--color-border)

    .btn-remove
        display: flex
        flex: 0 0 20px
        justify-content: center
        align-items: center
        padding: 0
        width: 20px
        height: 20px
        border-radius: 50%
        background: var(--color-cart-gray)
        color: white
        text-indent: 0
        line-height: 1
        opacity: 1

        &:before
            display: none

        .ico
            width: 9px
            height: 9px
            fill: currentColor

        &:hover
            background: none
            color: var(--primary)

.cart__boxes
    margin-bottom: 0
    padding-top: 20px
    background: white
    box-shadow: 0 0 0 1px var(--color-border)

    .shipping, .coupon
        box-shadow: none

    .shipping
        @media media-min-lg
            display: flex
            align-items: center

        .title
            display: flex
            justify-content: flex-start
            align-items: center
            margin-right: 10px
            color: var(--color-text-gray)
            font-weight: regular
            font-size: 14px

            span
                display: none

            &:before
                content: 'Digite seu CEP:'

        &__form
            position: relative

        &__postcode
            label
                display: none

            .input-text
                border: 0 !important
                border-radius: 0
                background: var(--color-gray)
                box-shadow: inset 0 0 0 1px var(--color-border) !important

        .buttons-set
            @media media-min-lg
                margin-bottom: 0

        .shipping-desc, .shipping-postcode label
            display: none

        .shipping-postcode
            margin: 0

        &__action
            .btn
                width: 80px
                height: 44px
                border-radius: 0 var(--radius) var(--radius) 0

                span
                    display: none

                &:before
                    content: 'OK'

    .coupon
        > .title
            display: flex
            justify-content: center
            align-items: center
            color: #333
            text-transform: none
            font-weight: medium
            font-size: 16px
            line-height: 1.3

            @media media-min-lg
                margin-bottom: 0
                line-height: 32px
                cursor: pointer

            .ico
                flex: 0 0 auto
                order: -1
                margin-right: 5px
                width: 20px
                height: 16px
                fill: var(--primary)

            span
                display: none

        &__form
            max-width: 100%
            width: 455px

            &:before
                margin-right: 10px
                color: var(--color-text-gray)
                content: 'Cupom de desconto: '
                font-weight: regular
                font-size: 14px

            .input-text
                border: 0 !important
                border-radius: 0
                background: var(--color-gray)
                box-shadow: inset 0 0 0 1px var(--color-border) !important

        &__action
            .btn
                width: 80px
                height: 44px
                border-radius: 0 var(--radius) var(--radius) 0

                span
                    display: none

                &:before
                    content: 'OK'

.card__totals
    padding: 20px
    box-shadow: 0 0 0 1px var(--color-border)

    @media media-max-lg
        width: 100%

    .totals
        margin-left: auto
        padding-top: 1px
        padding-bottom: 0
        max-width: 100%
        width: 350px
        background: none
        box-shadow: none

        .title
            display: none

        .totals__table
            padding: 0 20px

            td
                font-weight: medium
                font-size: 14px

                strong
                    font-weight: medium

                &:first-child
                    color: var(--color-text-gray)
                    text-align: right

                    &:after
                        content: ':'

                &:last-child
                    color: var(--secundary)
                    font-weight: bold
                    font-size: 15px

            tbody
                td
                    padding: 0
                    border: 0

            tfoot
                td
                    padding: 0
                    color: var(--primary)

.cart-price .price 
    font-size: 15px
    font-weight: bold 
    color: var(--secundary)

.crosssell
    &__title
        text-align: center
        text-transform: uppercase
        font-weight: bold
        font-size: 26px

    .products__case
        > button
            display: none

    .owl-wrapper-outer
        padding: 10px 0